*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
.DS_Store*
/.well-known
ehthumbs.db
__MACOSX
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
/*.txt
#!/robots.txt
*.cache
*.orig
*.swp
*.swo
.idea
/.idea
/nbproject
/bitrix
/include
/test
/upload
/materials_files
/upload1
.mc
*.gz
/test.php
sitemap_*.xml
/*.tar.gz
Thumbs.db
/*.dt
/*.gz
/*.tar
/*.bak
/*.old
/*.log
/*.sql
/.htaccess*
/restore.php
/bitrixsetup.php